apiVersion: v1
kind: ConfigMap
metadata:
  name: minecraft-values
  namespace: dmz
  labels:
    app: minecraft
    env: production
    category: gaming
data:
  values.yaml: |
    image:
      repository: itzg/minecraft-server
      tag: "java21"
    resources:
      requests:
        cpu: 2000m
        memory: 6Gi
      limits:
        cpu: 4000m
        memory: 8Gi
    nodeSelector:
      kubernetes.io/hostname: k8sworker05
    tolerations:
      - key: "dmz"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    podLabels:
      app: minecraft
      env: production
      category: gaming
    persistence:
      dataDir:
        enabled: true
        Size: 20Gi
      storageClass: longhorn
    minecraftServer:
      eula: "TRUE"
      version: "1.21.10"
      type: "PAPER"
      memory: "6G"
      viewDistance: 8
      maxPlayers: 20
      difficulty: normal
      serviceType: NodePort
      nodePort: 32565
      externalTrafficPolicy: Local
      rcon:
        enabled: false
      spigetResources: []
    extraEnv:
      SIMULATION_DISTANCE: "6"
      PLUGINS: "https://github.com/webbukkit/dynmap/releases/download/v3.2.1/Dynmap-3.2.1-spigot.jar"
    readinessProbe:
      initialDelaySeconds: 30
      periodSeconds: 10
      failureThreshold: 10
      successThreshold: 1
      timeoutSeconds: 1
    livenessProbe:
      initialDelaySeconds: 30
      periodSeconds: 5
      failureThreshold: 10
      successThreshold: 1
      timeoutSeconds: 1
